body { 
    margin: 0;
    padding: 0;
    text-align: center;
}     

main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(24, 8, 8);
    color:aliceblue;
    padding: 20px 10%;
    text-align: center;
} 

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row ; 
}    

nav ul li{
    border:1px solid;
    padding: 0 10px;
    margin: 0 10px;
} 

nav ul li a{
    color: white;
    text-decoration: none;
} 

.contact-form{
   min-height: 70vh;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px; 
}   


.contact-form-title h3{
    font-weight: 600;
    color:black;
    font-size: 22px;
    margin-bottom: 5px;
} 

.contact-form-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: yellow;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-input{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;

} 

.contact-form textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}  

.contact-input::placeholder{
    color: #a9a9a9;
}  

.contact-form button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #ffa14f, #fa6d86);
    cursor: pointer
}  

.contact-form-right img{
    width:100%;
    height: auto;

}

.footer {
    max-width: 100%;
    padding: 20px 10%; 
    background: #333;
    color: #fff;
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    gap: 20px; 
}

.footer .col-1,
.footer .col-2,
.footer .col-3 {
    flex: 1; 
    min-width: 200px; 
}

.footer h3 {
    font-size: 18px;
    margin-bottom: 10px;
}